# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Packaged Code
s3-image-transformation-csv.zip
.serverless
_optimize

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules
npm-debug.log

# Users Environment Variables
.lock-wscript
